classpath: /liquibase/changelog
url: {{liquibase.uri}}
changeLogFile: {{changelog.name}}/changelog.yaml
username: {{liquibase.username}}
password: {{liquibase.password}}
# hub.mode: off
logLevel: INFO
